.history_box{
	background-color:#E1E1E1;
	border-radius:10px;
	padding-left: 10px;
	margin-top: 20px;
	padding-top: 3px;
	padding-bottom: 1px;
	font-weight:900px;
	font-size:25px;
}
.container{
	margin-bottom: 20px;
}
